# Model files (large - tidak diupload ke GitHub)
backend/*.safetensors
backend/*.pkl
backend/config.json
backend/tokenizer.json
backend/tokenizer_config.json
*.pkl
*.safetensors

# Python
backend/venv/
backend/__pycache__/
*.pyc
.env

# Node
frontend/node_modules/
dist/
build/
*.log

# IDE
.vscode/
.idea/
.DS_Store